/*
 * # BROWNIE FUDGE SUNDAE V2
 * ===========================


/* ## Basic Breakpoints
 * ====================

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/* ## Extra Breakpoints
 * ====================

@media( min-width: 400px )  {}
@media( min-width: 640px )  {}
@media( min-width: 800px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1200px ) {}
@media( min-width: 1480px ) {}
@media( min-width: 1600px ) {}
@media( min-width: 1940px ) {}





/*
 * Global Variable
 */

:root {
	--light : #FFFFFF;
	--neutral-1 : #E0E5EB;
	--neutral-2 : #C3CCD9;
	--neutral-3 : #A6B4C7;
	--neutral-4 : #899BB5;
	--neutral-5 : #5D697A;
	--dark : #2E343D;
	--black : #1D2225;
	--red : #D64E62;
	--orange : #E8B459;
	--yellow : #EEEA89;
	--green-1 : #65BB87;
	--green-2 : #1FA28F;
	--green-3 : #197D85;
	--green-4 : #164A58;

	--paytm-blue : #00b9f5;

	--container-width: 300px;
	--space-min : 10px;
	--space-100 : calc(var(--container-width)/6);
	--space-50 : calc(var(--space-100)/2);
	--space-25 : calc(var(--space-50)/2);
	--space-75 : calc(var(--space-50)*1.5);
	--space-150 : calc(var(--space-100)*1.5);
	--space-200 : calc(var(--space-100)*2);
}

@media( min-width: 640px )  {
	:root {
		--container-width: 600px;
		--space-100 : calc(var(--container-width)/12);
	}
}

@media( min-width: 1040px ) {
	:root {
		--container-width: 1000px;
	}
}

@media( min-width: 1480px ) {
	:root {
		--space-min : 15px;
		--container-width: 1440px;
	}
}





body, .body {
	position: relative;
	color: var(--dark);
	font-family: museo-sans-rounded, Arial, sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.375;
	background-color: var(--light);
}


.position-relative { position: relative; }


h1, h2, h3, h4, h5, h6,
p, small, label {
	margin: 0;
	display: inline;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}


hr {
	border-color: var(--dark);
}


strong, .strong { font-weight: 900; }
em, .em { font-style: italic; }


a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

a * { pointer-events: none; }

/* -- Weights -- */

.w-100 { font-weight: 100; }
.w-300 { font-weight: 300; }
.w-400 { font-weight: 400; }
.w-700 { font-weight: 700; }





/*
 *
 *	Typography
 *
 */

.h1, .h2 {
	font-family: fira-sans, 'Arial Black', Arial, sans-serif;
	line-height: 1.125;
	font-weight: 800;
}

.h1 { font-size: 4.2rem; }
.h2 { font-size: 3.2rem; }
.h3 { font-size: 2.6rem; }
.h4 { font-size: 2.0rem; }
.h5 { font-size: 1.6rem; }
.h6 { font-size: 1.4rem; }
.p 	{ font-size: 1.4rem; }
.label { font-size: 1.1rem; }
.small { font-size: 0.9rem; }

@media( min-width: 640px )  {
	.h1 { font-size: 8.4rem; }
	.h2 { font-size: 6.0rem; }
	.h3 { font-size: 3.6rem; }
	.h4 { font-size: 2.4rem; }
	.h5 { font-size: 1.8rem; }
	.h6 { font-size: 1.4rem; }
	.p 	{ font-size: 1.4rem; }
	.label { font-size: 1.1rem; }
	.small { font-size: 0.9rem; }
}

@media( min-width: 1040px ) {
	.h1 { font-size: 9.6rem; }
	.h2 { font-size: 6.0rem; }
	.h3 { font-size: 3.6rem; }
	.h4 { font-size: 2.4rem; }
	.h5 { font-size: 1.8rem; }
	.h6 { font-size: 1.5rem; }
	.p 	{ font-size: 1.5rem; }
	.label { font-size: 1.2rem; }
	.small { font-size: 1.0rem; }
}

@media( min-width: 1480px ) {
	.h1 { font-size: 12.0rem; }
	.h2 { font-size: 8.4rem;  }
	.h3 { font-size: 4.8rem;  }
	.h4 { font-size: 3.2rem;  }
	.h5 { font-size: 2.4rem;  }
	.h6 { font-size: 1.7rem;  }
	.p 	{ font-size: 1.7rem;  }
	.label { font-size: 1.4rem; }
	.small { font-size: 1.2rem; }
}





/*
 *
 *	Buttons
 *
 */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	height: var(--space-75);
	padding: 0 calc(var(--space-75)/2);
	font-size: 1.2rem;
	line-height: var(--space-75);
	color: var(--light);
	background-color: var(--dark);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: calc(var(--space-min)/2);
	filter: brightness(1);
	-webkit-transition: filter 0.2s;
	-moz-transition: filter 0.2s;
	transition: filter 0.2s;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	filter: brightness(1.2);
}

input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus,
.button:focus {
    outline: 0;
    box-shadow: 0px 2px 6px rgba(20,20,10,0.5);
}

.button img {
	pointer-events: none;
	width: 16px;
	display: inline-block;
	margin-bottom: -4px;
	margin-left: 3px;
}

.button-large img {
	pointer-events: none;
	width: 24px;
	display: inline-block;
	margin-bottom: -6px;
	margin-right: 10px;
	margin-left: -5px;
}

.button-large {
	height: calc( var(--space-75)*1.5 - 10 );
	padding: 0 calc( (var(--space-75)*1.5 - 10px )/2 );
	font-size: 1.4rem;
	line-height: calc( var(--space-75)*1.5 - 10px );
	border-radius: 0;
}

@media( min-width: 640px )  {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: var(--space-75);
		padding: 0 calc(var(--space-75)/2);
		font-size: 1.2rem;
		line-height: var(--space-75);
	}

	.button-large {
		height: calc( var(--space-75)*1.5 );
		padding: 0 calc( (var(--space-75)*1.5)/2 );
		font-size: 1.6rem;
		line-height: calc( var(--space-75)*1.5 );
	}
}
@media( min-width: 1040px ) {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: var(--space-50);
		padding: 0 calc(var(--space-50)/2);
		font-size: 1.3rem;
		line-height: var(--space-50);
	}

	.button-large {
		height: var(--space-75);
		padding: 0 calc(var(--space-75)/2);
		font-size: 1.6rem;
		line-height: var(--space-75);
	}
	
	.button img {
		margin-bottom: -3px;
	}

	.button-large img {
		pointer-events: none;
		width: 32px;
		display: inline-block;
		margin-bottom: -9px;
		margin-right: 12px;
		margin-left: -6px;
	}
}
@media( min-width: 1480px ) {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		padding: 0 calc(var(--space-50)/2);
		height: var(--space-50);
		font-size: 1.6rem;
		line-height: var(--space-50);
	}

	.button-large {
		padding: 0 calc(var(--space-75)/2);
		height: var(--space-75);
		font-size: 2.4rem;
		line-height: var(--space-75);
	}
	
	.button img {
		margin-bottom: -2px;
	}

	.button-large img {
		pointer-events: none;
		width: 48px;
		display: inline-block;
		margin-bottom: -14px;
		margin-right: 20px;
		margin-left: -10px;
	}
}





/*
 *
 *	Forms
 *
 */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
	height: var(--space-75);
	padding: 11px calc(var(--space-75)/2); /* This vertically centers text on FF, ignored by Webkit */
	font-size: 1.4rem;
	color: var(--dark);
	background-color: var(--light);
	border: solid 1px var(--neutral-1);
	border-radius: calc(var(--space-min)/2);
	/*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);*/
}

textarea {
	min-height: var(--space-200);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
	outline: 0;
	border-color: var(--green-2);
	/*box-shadow: 0px 2px 6px rgba(20,20,10,0.5);*/
}

/* -- Reset Webkit Date Icons -- */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

select { cursor: pointer; }

.form-row:focus-within span.label {
	color: var(--green-2);
}

.input-large.input-large {
	height: calc( var(--space-75)*1.5 - 10 );
	padding: 0 calc( (var(--space-75)*1.5 - 10px )/2 );
	font-size: 1.4rem;
	line-height: calc( var(--space-75)*1.5 - 10px );
	border-radius: 0;
}

@media( min-width: 640px )  {
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-75);
		padding: 11px calc(var(--space-75)/2); /* This vertically centers text on FF, ignored by Webkit */
		font-size: 1.4rem;
	}

	.input-large.input-large {
		height: calc( var(--space-75)*1.5 );
		padding: 0 calc( (var(--space-75)*1.5)/2 );
		font-size: 1.6rem;
		line-height: calc( var(--space-75)*1.5 );
		border-radius: 0;
	}
}
@media( min-width: 1040px ) {
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-50);
		padding: 11px calc(var(--space-50)/2); /* This vertically centers text on FF, ignored by Webkit */
		font-size: 1.5rem;
	}

	.input-large.input-large {
		height: var(--space-75);
		padding: 0 calc(var(--space-75)/2);
		font-size: 1.6rem;
		line-height: var(--space-75);
		border-radius: 0;
	}
}
@media( min-width: 1480px ) {
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-50);
		padding: 11px calc(var(--space-50)/2); /* This vertically centers text on FF, ignored by Webkit */
		font-size: 1.8rem;
		border: solid 2px var(--neutral-1);
	}

	.input-large.input-large {
		padding: 0 calc(var(--space-75)/2);
		height: var(--space-75);
		font-size: 2.4rem;
		line-height: var(--space-75);
		border-radius: 0;
	}
}





/*
 *
 *	Fills
 *
 */

.fill-light {
	color: var(--dark);
	background-color: var(--light); }
.fill-neutral-1 {
	color: var(--dark);
	background-color: var(--neutral-1); }
.fill-neutral-2 {
	color: var(--dark);
	background-color: var(--neutral-2); }
.fill-neutral-3 {
	color: var(--dark);
	background-color: var(--neutral-3); }
.fill-neutral-4 {
	color: var(--dark);
	background-color: var(--neutral-4); }
.fill-neutral-5 {
	color: var(--light);
	background-color: var(--neutral-5); }
.fill-dark {
	color: var(--light);
	background-color: var(--dark); }
.fill-black {
	color: var(--light);
	background-color: var(--black); }
.fill-red {
	color: var(--light);
	background-color: var(--red); }
.fill-orange {
	color: var(--light);
	background-color: var(--orange); }
.fill-yellow {
	color: var(--dark);
	background-color: var(--yellow); }
.fill-green-1 {
	color: var(--dark);
	background-color: var(--green-1); }
.fill-green-2 {
	color: var(--light);
	background-color: var(--green-2); }
.fill-green-3 {
	color: var(--light);
	background-color: var(--green-3); }
.fill-green-4 {
	color: var(--light);
	background-color: var(--green-4); }
.fill-paytm-blue {
	color: var(--light);
	background-color: var(--paytm-blue); }





/*
 *
 *	Text Color
 *
 */

 .text-light {
 	color: var(--light); }
 .text-neutral-1 {
 	color: var(--neutral-1); }
 .text-neutral-2 {
 	color: var(--neutral-2); }
 .text-neutral-3 {
 	color: var(--neutral-3); }
 .text-neutral-4 {
 	color: var(--neutral-4); }
 .text-neutral-5 {
 	color: var(--neutral-5); }
 .text-dark {
 	color: var(--dark); }
 .text-black {
 	color: var(--black); }
 .text-red {
 	color: var(--red); }
 .text-orange {
 	color: var(--orange); }
 .text-yellow {
 	color: var(--yellow); }
 .text-green-1 {
 	color: var(--green-1); }
 .text-green-2 {
 	color: var(--green-2); }
 .text-green-3 {
 	color: var(--green-3); }
 .text-green-4 {
 	color: var(--green-4); }
 .text-paytm-blue {
 	color: var(--paytm-blue); }





/*
 *
 *	Vertical Spacing
 *
 */

.space-min { padding: var(--space-min); }
.space-min-top { padding-top: var(--space-min); }
.space-min-bottom { padding-bottom: var(--space-min); }
.space-min-left { padding-left: var(--space-min); }
.space-min-right { padding-right: var(--space-min); }
.space-min-top-bottom { padding-top: var(--space-min); padding-bottom: var(--space-min); }
.space-min-left-right { padding-left: var(--space-min); padding-right: var(--space-min); }

.space-100 { padding: var(--space-100); }
.space-100-top { padding-top: var(--space-100); }
.space-100-bottom { padding-bottom: var(--space-100); }
.space-100-left { padding-left: var(--space-100); }
.space-100-right { padding-right: var(--space-100); }
.space-100-top-bottom { padding-top: var(--space-100); padding-bottom: var(--space-100); }
.space-100-left-right { padding-left: var(--space-100); padding-right: var(--space-100); }

.space-50 { padding: var(--space-50); }
.space-50-top { padding-top: var(--space-50); }
.space-50-bottom { padding-bottom: var(--space-50); }
.space-50-left { padding-left: var(--space-50); }
.space-50-right { padding-right: var(--space-50); }
.space-50-top-bottom { padding-top: var(--space-50); padding-bottom: var(--space-50); }
.space-50-left-right { padding-left: var(--space-50); padding-right: var(--space-50); }

.space-25 { padding: var(--space-25); }
.space-25-top { padding-top: var(--space-25); }
.space-25-bottom { padding-bottom: var(--space-25); }
.space-25-left { padding-left: var(--space-25); }
.space-25-right { padding-right: var(--space-25); }
.space-25-top-bottom { padding-top: var(--space-25); padding-bottom: var(--space-25); }
.space-25-left-right { padding-left: var(--space-25); padding-right: var(--space-25); }

.space-75 { padding: var(--space-75); }
.space-75-top { padding-top: var(--space-75); }
.space-75-bottom { padding-bottom: var(--space-75); }
.space-75-left { padding-left: var(--space-75); }
.space-75-right { padding-right: var(--space-75); }
.space-75-top-bottom { padding-top: var(--space-75); padding-bottom: var(--space-75); }
.space-75-left-right { padding-left: var(--space-75); padding-right: var(--space-75); }

.space-150 { padding: var(--space-150); }
.space-150-top { padding-top: var(--space-150); }
.space-150-bottom { padding-bottom: var(--space-150); }
.space-150-left { padding-left: var(--space-150); }
.space-150-right { padding-right: var(--space-150); }
.space-150-top-bottom { padding-top: var(--space-150); padding-bottom: var(--space-150); }
.space-150-left-right { padding-left: var(--space-150); padding-right: var(--space-150); }

.space-200 { padding: var(--space-200); }
.space-200-top { padding-top: var(--space-200); }
.space-200-bottom { padding-bottom: var(--space-200); }
.space-200-left { padding-left: var(--space-200); }
.space-200-right { padding-right: var(--space-200); }
.space-200-top-bottom { padding-top: var(--space-200); padding-bottom: var(--space-200); }
.space-200-left-right { padding-left: var(--space-200); padding-right: var(--space-200); }





/*
 * Opacity
 */

.opacity-0 { opacity: 0; }
.opacity-25 { opacity: 0.25; }
.opacity-50 { opacity: 0.5; }
.opacity-75 { opacity: 0.75; }
.opacity-100 { opacity: 1; }





/*
 *
 *	Text Auto Align
 *
 */

/*.text-auto-align-medium { text-align: center; }
@media( min-width: 640px ) { .text-auto-align-medium { text-align: inherit; } }*/

/*.text-auto-align-large { text-align: center; }
@media( min-width: 1040px ) { .text-auto-align-large { text-align: inherit; } }*/





/*
 *
 *	Image Background
 *
 */

.image-bg {
	min-height: 200px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}





/*
 *
 *	Carousel List
 *
 */

.carousel {
	width: 100%;
	position: relative;
	/*z-index: 1;*/
}

.carousel:before,
.carousel:after {
	pointer-events: none;
	content: '';
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	width: calc((100vw - var(--container-width) ) / 2);
}

.carousel .carousel-list {
	position: relative;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	padding: 0 calc( (100vw - var(--container-width))/2 ) var(--space-50);
	scroll-snap-type: x mandatory;
}

.carousel:before {
	left: 0;
	background-image: linear-gradient( to left, rgba(256,256,256,0) 0%, rgba(256,256,256,1) 90%);
}

.carousel:after {
	right: 0;
	background-image: linear-gradient( to right, rgba(256,256,256,0) 0%, rgba(256,256,256,1) 90%);
}

.carousel .carousel-list .carousel-list-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	white-space: normal;
	width: calc( 5 * var(--space-100) );
	scroll-snap-align: center;
}

.carousel .carousel-list .carousel-list-item * { pointer-events:  none; }

/* -- Base -- */
.carousel .carousel-controls {
	pointer-events: none;
}

.carousel .carousel-controls .prev,
.carousel .carousel-controls .next {
	pointer-events: all;
}

/*
 * Scroll Controls
 */

.scroll-controls {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	pointer-events: none;
}

.scroll-button {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 0;
	width: var(--space-100);
	height: var(--space-100);
	text-align: center;
	font-size: 0;
	line-height: 0;
	outline: none !important;
	pointer-events: auto;
}

.scroll-button:hover,
.scroll-button:focus { filter: brightness(1.25); }



.scroll-button * { pointer-events: none; }

.scroll-button img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	/*margin-top: calc(var(--space-100) * -0.05);*/
	transform: translate(-50%, -50%);
}

.scroll-controls .scroll-left {
	transform: translateX(-50%);
}

.scroll-controls .scroll-right {
	transform: translateX(50%);
}

@media( min-width: 1040px ) {
	.scroll-button {
		height: var(--space-50);
		width: var(--space-50);
	}
}

/* -- Modal Carousel -- */

.carousel.modal-carousel {}

.carousel.modal-carousel:before,
.carousel.modal-carousel:after { display: none; }

.carousel.modal-carousel .carousel-list {
	padding: 0 var(--space-50) var(--space-25);
}

.carousel.modal-carousel .carousel-list .carousel-list-item {
	width: calc( 4 * var(--space-100) );
	padding: 0 5px;
}

.carousel.modal-carousel .carousel-list .carousel-list-item .image {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 64.25%;
	border: solid 1px var(--neutral-1);
	border-radius: var(--space-min);
	overflow: hidden;
	background-color: var(--neutral-1);
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.carousel.modal-carousel .carousel-list .carousel-list-item .image .caption:not(:empty) {
	position: absolute;
	z-index: 2;
	display: inline-block;
	color: var(--light);
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
	bottom: var(--space-min);
	left: 50%;
	transform: translateX(-50%);
	line-height: 1;
	padding: 3px 5px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
}

.carousel.modal-carousel .scroll-controls {
	top: 50%;
	transform: translateY(-50%);
}

.carousel.modal-carousel .scroll-controls .scroll-left {
	transform: translateX( calc( var(--space-50) - 50% ) );
}

.carousel.modal-carousel .scroll-controls .scroll-right {
	transform: translateX( calc( 50% - var(--space-50) ) );
}

@media( min-width: 640px )  {
	.carousel.modal-carousel .carousel-list {
		padding: 0 var(--space-100) var(--space-25);
	}

	.carousel.modal-carousel .carousel-list .carousel-list-item {
		width: calc( 5 * var(--space-100) );
	}

	.carousel.modal-carousel .scroll-controls .scroll-left {
		transform: translateX( calc( var(--space-100) - 50% ) );
	}

	.carousel.modal-carousel .scroll-controls .scroll-right {
		transform: translateX( calc( 50% - var(--space-100) ) );
	}
}
@media( min-width: 1040px ) {
	.carousel.modal-carousel .carousel-list .carousel-list-item {
		width: calc( 4 * var(--space-100) );
	}
}
@media( min-width: 1480px ) {
	.carousel.modal-carousel .carousel-list .carousel-list-item {
		width: calc( 3 * var(--space-100) );
	}
}





/*
 *
 *	Scroll Reveal
 *
 */



@media( min-width: 640px )  {
	.scroll-reveal {
		opacity: 0;
		transform: translateY(var(--space-50));
		transition: opacity .3s ease-out, transform .3s ease-out;
		transition-delay: var(--td); /* style="--td: 1.25s;" */
	}

	@keyframes pop {
		0% {
			opacity: 0;
			transform: scale(1) translateY(var(--space-50));
		}
		50% {
			opacity: 1;
			transform: scale(1) translateY(0);
		}
		75% {
			transform: scale(1.25) translateY(0);
		}
		100% {
			transform: scale(1) translateY(0);
		}
	}

	.scroll-reveal.reveal {
		opacity: 1;
		transform: translateY(0);
	}

	.scroll-reveal.reveal.pop {
		transform: none;
		transition: none;
		animation: pop .6s cubic-bezier(0, 0, 0.75, 1.5);
		animation-delay: var(--td);
	}

}






/* H0 */
.h0 {
	font-size: 6.3rem;
	font-weight: 900;
	text-shadow: 0px 2px 3px rgba(0,0,0,0.25), 0px 2px 8px rgba(0,0,0,0.25);
	line-height: .95;
}

@media( min-width: 640px )  {
	.h0 { font-size: 12.6rem; }
}

@media( min-width: 1040px ) {
	.h0 {
		font-size: 14.4rem;
		text-shadow: 0px 4px 5px rgba(0,0,0,0.25), 0px 2px 15px rgba(0,0,0,0.25);
	}
}

@media( min-width: 1480px ) {
	.h0 { font-size: 18.0rem; }
}






/* Select Minimal */

select.minimal {
	position: relative;
	line-height: 1;
	height: auto;
	padding: 3px 0px;
	padding-right: 18px;
	font-weight: 900;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-color: var(--dark);
	border-width: 2px;
	background-color: transparent;
	font-size: 1.4rem;
	background-image: url('../../media/glyph/select.svg');
	background-position: 100% 50%;
	background-size: 14px 10px;
	background-repeat: no-repeat;
}

select.minimal.xl {
	padding: 5px 0px;
	font-size: 1.6rem;
	padding-right: 21px;
	background-size: 17px 12px;
}

select.minimal.dark {
	color: var(--light);
	border-color: var(--light);
	background-image: url('../../media/glyph/select-dark.svg');
}

@media( min-width: 640px )  {
	select.minimal { font-size: 1.4rem; }
	select.minimal.xl { font-size: 1.8rem; }
}

@media( min-width: 1040px ) {
	select.minimal {
		font-size: 1.5rem;
		background-position: 100% 45%;
	}
	select.minimal.xl { font-size: 1.8rem; }
}

@media( min-width: 1480px ) {
	select.minimal {
		font-size: 1.7rem;
		padding-right: 22px;
		background-size: 17px 12px;
	}
	select.minimal.xl {
		font-size: 2.4rem;
		padding-right: 26px;
		background-size: 21px 15px;
	}
}





/* -- Alt Font -- */
.alt-font {
	font-family: fira-sans, 'Arial Black', Arial, sans-serif;
	font-weight: 800;
}





/* -- Form Row -- */
.form-row {
	padding-bottom: var(--space-min);
}

.form-row .label {
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
}

input.name,
input.email,
select.date,
input.date,
input.phone {
	position: relative;
	padding-right: var(--space-50);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: var(--space-50) 24px;
}
input.name { background-image: url('../../../media/glyph/input-name.svg'); }
input.email { background-image: url('../../../media/glyph/input-email.svg'); }
select.date,
input.date { background-image: url('../../../media/glyph/input-date.svg'); }
input.phone { background-image: url('../../../media/glyph/input-phone.svg'); }

@media( min-width: 640px )  {
	.form-row:nth-child(2n) {
		padding-left: var(--space-25);
	}
	.form-row:nth-child(2n+1) {
		padding-right: var(--space-25);
	}
}
@media( min-width: 1040px ) {
	.form-row .label {
		padding-left: 4px;
		padding-right: 4px;
		padding-bottom: 4px;
	}
}
@media( min-width: 1480px ) {
	.form-row .label {
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
	}

	input.name,
	input.email,
	select.date,
	input.date,
	input.phone {
		background-size: var(--space-50) 32px;
	}
}


/* Pricing Options */
.price-options {}
.price-options .price-option {
	position: relative;
}

.price-options .price-option .radio:before {
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	content: '';
	width: 12px;
	height: 12px;
	margin-right: 2px;
	border: solid 2px var(--neutral-3);
	border-radius: 100%;
}

.price-options .price-option input:checked ~ .radio:after {
	position: absolute;
	display: inline-block;
	left: 3px;
	top: 7px;
	content: '';
	width: 6px;
	height: 6px;
	background-color: var(--green-2);
	border-radius: 100%;
}

.price-options .price-option .fine-print {
	padding-top: 5px;
	display: none;
	position: relative;
}

.price-options .price-option .fine-print .print:before {
	content: '\2022';
	position: absolute;
	left: 20px;
}

.price-options .price-option input:checked ~ .fine-print {
	display: block;
	padding-left: 30px;
}

@media( min-width: 640px )  {
	.price-options .price-option .radio:before {
		width: 14px;
		height: 14px;
		margin-right: 2px;
	}
	.price-options .price-option input:checked ~ .radio:after {
		width: 8px;
		height: 8px;
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {
	.price-options .price-option .radio:before {
		width: 18px;
		height: 18px;
		margin-right: 3px;
		border-width: 3px;
	}
	.price-options .price-option input:checked ~ .radio:after {
		left: 4px;
		top: 10px;
		width: 10px;
		height: 10px;
	}

	.price-options .price-option .fine-print .print:before {
		left: 25px;
	}

	.price-options .price-option input:checked ~ .fine-print {
		padding-left: 40px;
	}
}


/* PayTM Payment Button */
button.fill-paytm-blue img.paytm-logo {
	pointer-events: none;
	width: 52px;
	display: inline-block;
	margin-bottom: -3px;
	margin-left: 3px;
}

button.fill-paytm-blue:disabled {
	background-color: var(--neutral-3);
	cursor: not-allowed;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	button.fill-paytm-blue img.paytm-logo {
		width: 62px;
		margin-bottom: -4px;
	}
}
@media( min-width: 1480px ) {
	button.fill-paytm-blue img.paytm-logo {
		width: 70px;
	}
}


/* -- Phone Trap -- */
.phone-trap.phone-number {
	display: flex;
	align-items: center;

}
.phone-trap.phone-number .prefix-group {
	width: var(--space-150);
}
.phone-trap.phone-number .prefix {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-left: 0;
	padding-right: 0;
}
.phone-trap.phone-number .phone {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 100%;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.phone-trap.phone-number .prefix-group {
		width: var(--space-100);
	}
}
@media( min-width: 1480px ) {}






/* -- Phone Trap -- */
.phone-trap.minimal,
.otp-trap.minimal {
	display: flex;
	align-items: center;
}

.phone-trap.minimal .submit,
.otp-trap.minimal .submit {
	width: var(--space-150);
}
.phone-trap.minimal .submit .button,
.otp-trap.minimal .submit .button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 0;
	padding-right: 0;
}

.phone-trap.minimal .phone,
.otp-trap.minimal .otp {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	width: 100%;
	padding-left: var(--space-min);
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.phone-trap.minimal .submit,
	.otp-trap.minimal .submit {
		width: var(--space-100);
	}
}
@media( min-width: 1480px ) {}






/*
 * Sparkle
 */

.sparkle {}
.sparkle .spark-1 *,
.sparkle .spark-2 * {
	position: relative;
	display: inline-block;
	width: 100%;
}

/* -- or-light */
.sparkle.or-light {
	display: inline-block;
	position: relative;
	z-index: -1;
	margin-right: 25px;
}
.sparkle.or-light .spark-1 {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	/*background-color: peachpuff;*/
	/*background-image: url('../../media/sparkle/or-light.svg');*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	/*background-size: 100px 100px;*/
	transform: translate(-50%, -50%);
	opacity: 0.5;
}

@media( min-width: 1480px ) {
	.sparkle.or-light {
		margin-right: 50px;
	}
	.sparkle.or-light .spark-1 {
		width: 150px;
		height: 150px;
		background-size: 150px 150px;
	}
}

/* -- or-number-light */
.sparkle.or-number-light {
	display: inline-block;
	position: relative;
	z-index: -1;
	margin-right: 25px;
}
.sparkle.or-number-light .spark-1 {
	content: '';
	display: block;
	width: 90px;
	height: 120px;
	position: absolute;
	z-index: -1;
	top: 50%;
	right: 0;
	/*background-color: peachpuff;*/
	/*background-image: url('../../media/sparkle/or-number-light.svg');*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	/*background-size: 90px 120px;*/
	transform: translate(50%, -50%);
	opacity: 0.5;
}

@media( min-width: 1480px ) {
	.sparkle.or-number-light {
		margin-right: 50px;
	}
	.sparkle.or-number-light .spark-1 {
		width: 135px;
		height: 180px;
		background-size: 135px 180px;
	}
}

/* -- or-dark */
.sparkle.or-dark {
	display: inline-block;
	position: relative;
	z-index: 1;
	margin-right: 25px;
}
.sparkle.or-dark .spark-1 {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	/*background-color: peachpuff;*/
	/*background-image: url('../../media/sparkle/or-dark.svg');*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	/*background-size: 100px 100px;*/
	transform: translate(-50%, -50%);
	opacity: 0.5;
}

@media( min-width: 1480px ) {
	.sparkle.or-dark {
		margin-right: 50px;
	}
	.sparkle.or-dark .spark-1 {
		width: 150px;
		height: 150px;
		background-size: 150px 150px;
	}
}

/* -- or-number-dark */
.sparkle.or-number-dark {
	display: inline-block;
	position: relative;
	z-index: 1;
	margin-right: 25px;
}
.sparkle.or-number-dark .spark-1 {
	content: '';
	display: block;
	width: 90px;
	height: 120px;
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 0;
	/*background-color: peachpuff;*/
	/*background-image: url('../../media/sparkle/or-number-dark.svg');*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	/*background-size: 90px 120px;*/
	transform: translate(50%, -50%);
	opacity: 0.5;
}

@media( min-width: 1480px ) {
	.sparkle.or-number-dark {
		margin-right: 50px;
	}
	.sparkle.or-number-dark .spark-1 {
		width: 135px;
		height: 180px;
		background-size: 135px 180px;
	}
}

/* -- title-1-left */
.sparkle.title-1-left .spark-1 { display: none; }

@media( min-width: 1040px ) {
	.sparkle.title-1-left {
		display: inline-block;
		position: relative;
		z-index: 1;
		margin-left: 25px;
	}
	.sparkle.title-1-left .spark-1 {
		content: '';
		display: block;
		width: 50px;
		height: 90px;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 10px;
		/*background-color: peachpuff;*/
		/*background-image: url('../../media/sparkle/title-1-left.svg');*/
		/*background-repeat: no-repeat;*/
		/*background-position: center center;*/
		/*background-size: 50px 90px;*/
		transform: translate(-100%, -50%);
		opacity: 0.5;
	}
}
@media( min-width: 1480px ) {
	.sparkle.title-1-left {
		margin-left: 50px;
	}
	.sparkle.title-1-left .spark-1 {
		left: 15px;
		width: 75px;
		height: 135px;
		background-size: 75px 135px;
	}
}

/* -- title-1-right */
.sparkle.title-1-right .spark-2 { display: none; }
@media( min-width: 1040px ) {
	.sparkle.title-1-right {
		display: inline-block;
		position: relative;
		z-index: 1;
		margin-right: 25px;
	}
	.sparkle.title-1-right .spark-2 {
		content: '';
		display: block;
		width: 50px;
		height: 90px;
		position: absolute;
		z-index: 1;
		top: 50%;
		right: 10px;
		/*background-color: peachpuff;*/
		/*background-image: url('../../media/sparkle/title-1-right.svg');*/
		/*background-repeat: no-repeat;*/
		/*background-position: center center;*/
		/*background-size: 50px 90px;*/
		transform: translate(100%, -50%);
		opacity: 0.5;
	}
}
@media( min-width: 1480px ) {
	.sparkle.title-1-right {
		margin-right: 50px;
	}
	.sparkle.title-1-right .spark-2 {
		right: 15px;
		width: 75px;
		height: 135px;
		background-size: 75px 135px;
	}
}

/* -- title-2-left */
.sparkle.title-2-left .spark-1 { display: none; }
@media( min-width: 1040px ) {
	.sparkle.title-2-left {
		display: inline-block;
		position: relative;
		z-index: 1;
		margin-left: 25px;
	}
	.sparkle.title-2-left .spark-1 {
		content: '';
		display: block;
		width: 50px;
		height: 90px;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 10px;
		/*background-color: peachpuff;*/
		/*background-image: url('../../media/sparkle/title-2-left.svg');*/
		/*background-repeat: no-repeat;*/
		/*background-position: center center;*/
		/*background-size: 50px 90px;*/
		transform: translate(-100%, -50%);
		opacity: 0.5;
	}
}
@media( min-width: 1480px ) {
	.sparkle.title-2-left {
		margin-left: 50px;
	}
	.sparkle.title-2-left .spark-1 {
		left: 15px;
		width: 75px;
		height: 135px;
		background-size: 75px 135px;
	}
}

/* -- title-2-right */
.sparkle.title-2-right .spark-2 { display: none; }
@media( min-width: 1040px ) {
	.sparkle.title-2-right {
		display: inline-block;
		position: relative;
		z-index: 1;
		margin-right: 25px;
	}
	.sparkle.title-2-right .spark-2 {
		content: '';
		display: block;
		width: 50px;
		height: 90px;
		position: absolute;
		z-index: 1;
		top: 50%;
		right: 10px;
		/*background-color: peachpuff;*/
		/*background-image: url('../../media/sparkle/title-2-right.svg');*/
		/*background-repeat: no-repeat;*/
		/*background-position: center center;*/
		/*background-size: 50px 90px;*/
		transform: translate(100%, -50%);
		opacity: 0.5;
	}
}
@media( min-width: 1480px ) {
	.sparkle.title-2-right {
		margin-right: 50px;
	}
	.sparkle.title-2-right .spark-2 {
		right: 15px;
		width: 75px;
		height: 135px;
		background-size: 75px 135px;
	}
}

/* -- title-3-left */
.sparkle.title-3-left .spark-1 { display: none; }
@media( min-width: 1040px ) {
	.sparkle.title-3-left {
		display: inline-block;
		position: relative;
		z-index: 1;
		margin-left: 25px;
	}
	.sparkle.title-3-left .spark-1 {
		content: '';
		display: block;
		width: 50px;
		height: 90px;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 15px;
		/*background-color: peachpuff;*/
		/*background-image: url('../../media/sparkle/title-3-left.svg');*/
		/*background-repeat: no-repeat;*/
		/*background-position: center center;*/
		/*background-size: 50px 90px;*/
		transform: translate(-100%, -50%);
		opacity: 0.5;
	}
}
@media( min-width: 1480px ) {
	.sparkle.title-3-left {
		margin-left: 50px;
	}
	.sparkle.title-3-left .spark-1 {
		left: 20px;
		width: 75px;
		height: 135px;
		background-size: 75px 135px;
	}
}

/* -- title-3-right */
.sparkle.title-3-right .spark-2 { display: none; }
@media( min-width: 1040px ) {
	.sparkle.title-3-right {
		display: inline-block;
		position: relative;
		z-index: 1;
		margin-right: 15px;
	}
	.sparkle.title-3-right .spark-2 {
		content: '';
		display: block;
		width: 50px;
		height: 90px;
		position: absolute;
		z-index: 1;
		top: 50%;
		right: 10px;
		/*background-color: peachpuff;*/
		/*background-image: url('../../media/sparkle/title-3-right.svg');*/
		/*background-repeat: no-repeat;*/
		/*background-position: center center;*/
		/*background-size: 50px 90px;*/
		transform: translate(100%, -50%);
		opacity: 0.5;
	}
}
@media( min-width: 1480px ) {
	.sparkle.title-3-right {
		margin-right: 25px;
	}
	.sparkle.title-3-right .spark-2 {
		right: 15px;
		width: 75px;
		height: 135px;
		background-size: 75px 135px;
	}
}






/* -- Card Carousel -- */

.card-carousel {
	position: relative;
}

.card-carousel .card-list {
	position: relative;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: visible;
	-webkit-overflow-scrolling: touch;
	padding: var(--space-min) calc( (100vw - var(--container-width))/2 ) var(--space-50);
	scroll-snap-type: x mandatory;
	font-size: 0;
}

.card-carousel .card-list .card {
	display: inline-block;
	vertical-align: top;
	position: relative;
	white-space: normal;
	width: calc( 6 * var(--space-100) );
	/*min-height: calc( (6 * var(--space-100) * 1.375 ) );*/
	min-height: 510px;
	padding: 15px;
	scroll-snap-align: center;
	font-size: 1.4rem;
	box-shadow: 0px 0px 0px 2px var(--neutral-1);
	color: var(--dark);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card-carousel .card-list .card.dark {
	background-color: var(--dark);
	color: var(--light);
}

.card-carousel .card-list .card.dark .button {
	background-color: var(--green-2);
}

.card-carousel .card-list .card .thumbnail {
	width: 100%;
	padding-top: 100%;
	border-radius: var(--space-min); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card-carousel .card-list .card .title {
	height: 110px;
	line-height: 1.25;
	padding-left: 15px;
	padding-right: 15px;
}

.card-carousel .card-list .card .info {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 15px;
}

.card-carousel .card-list .card:first-child {
	border-top-left-radius: var(--space-min);
	border-bottom-left-radius: var(--space-min);
}
.card-carousel .card-list .card:last-child {
	border-top-right-radius: var(--space-min);
	border-bottom-right-radius: var(--space-min);
}
@media( min-width: 640px )  {
	.card-carousel .card-list .card {
		min-height: 530px;
	}
	.card-carousel .card-list .card .title {
		height: 130px;
	}
}
	
@media( min-width: 1040px ) {
	.card-carousel .card-list .card {
		width: calc( 4 * var(--space-100) );
		/*min-height: calc( (4 * var(--space-100) * 1.375 ) );*/
		min-height: 580px;
		padding: 15px;
	}
	.card-carousel .card-list .card .info {
		padding: 20px;
	}
}
@media( min-width: 1480px ) {

	/* -- vvv Delete This Upon Adding the 4th Price Column -- */
	/*.card-carousel { padding-left: var(--space-100); }*/
	/* -- ^^^ -- */

	.card-carousel .card-list .card {
		width: calc( 3 * var(--space-100) );
		/*min-height: calc( (3 * var(--space-100) * 1.375 ) );*/
		min-height: 670px;
	}

	.card-carousel .card-list .card .title {
		height: 175px;
	}
}

/* -- News Overwrite -- */
.card-carousel .card-list .card.news .source {
	padding-left: 15px;
	padding-right: 15px;
}
.card-carousel .card-list .card.news {
	min-height: 455px;
}
@media( min-width: 640px )  {
	.card-carousel .card-list .card.news {
		min-height: 475px;
	}
}
	
@media( min-width: 1040px ) {
	.card-carousel .card-list .card.news {
		min-height: 520px;
	}
}
@media( min-width: 1480px ) {

	.card-carousel .card-list .card.news {
		min-height: 610px;
	}
}


/* -- Event Overwrite -- */
.card-carousel .card-list .card.event .date {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: var(--space-min);
}

/*
 * Card Carousel Scroll Controls
 */

.card-carousel .scroll-controls {
	top: 25%;
}



/* -- Lottie Animation -- */

.lottie-animation {
	transform: translate3d( 0, 0, 0 );
}

.lottie-animation.score-out svg g g path {
	stroke: #FFFFFF;
}
.lottie-animation.monthly-fee svg g g {
	fill: #FFFFFF;
}

.lottie-animation.score-out,
.lottie-animation.monthly-fee {
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: 0;
}

.lottie-animation.score-out {
	width: 120px;
	transform: translate(-4px, 25px);
}

.lottie-animation.monthly-fee {
	width: 100px;
	transform: translate(20px, 5px);
}

@media( min-width: 640px )  {
	.lottie-animation.score-out {
		width: 180px;
		transform: translate(2px, 37px);
	}

	.lottie-animation.monthly-fee {
		width: 160px;
		transform: translate(100px, 28px);
	}
}
@media( min-width: 1040px ) {
	.lottie-animation.score-out {
		width: 180px;
		transform: translate(50px, 37px);
	}

	.lottie-animation.monthly-fee {
		width: 160px;
		transform: translate(108px, 10px);
	}

}
@media( min-width: 1480px ) {
	.lottie-animation.score-out {
		width: 240px;
		transform: translate(67px, 50px);
	}

	.lottie-animation.monthly-fee {
		width: 220px;
		transform: translate(150px, 15px);
	}
}