/*
 * # BROWNIE FUDGE SUNDAE V2
 * ===========================


/* ## Basic Breakpoints
 * ====================
 
@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/* ## Extra Breakpoints
 * ====================

@media( min-width: 400px )  {}
@media( min-width: 640px )  {}
@media( min-width: 800px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1200px ) {}
@media( min-width: 1480px ) {}
@media( min-width: 1600px ) {}
@media( min-width: 1940px ) {}





/*
 * Global Variable
 */

:root {
	--light : #FFFFFF;
	--neutral-1 : #E0E5EB;
	--neutral-2 : #C3CCD9;
	--neutral-3 : #A6B4C7;
	--neutral-4 : #899BB5;
	--neutral-5 : #5D697A;
	--dark : #2E343D;
	--black : #1D2225;
	--red : #D64E62;
	--orange : #E8B459;
	--yellow : #EEEA89;
	--green-1 : #65BB87;
	--green-2 : #1FA28F;
	--green-3 : #197D85;
	--green-4 : #164A58;

	--container-width: 300px;
	--space-min : 10px;
	--space-100 : calc(var(--container-width)/6);
	--space-50 : calc(var(--space-100)/2);
	--space-25 : calc(var(--space-50)/2);
	--space-75 : calc(var(--space-50)*1.5);
	--space-150 : calc(var(--space-100)*1.5);
	--space-200 : calc(var(--space-100)*2);
}

@media( min-width: 640px )  {
	:root {
		--container-width: 600px;
		--space-100 : calc(var(--container-width)/12);
	}
}

@media( min-width: 1040px ) {
	:root {
		--container-width: 1000px;
	}
}

@media( min-width: 1480px ) {
	:root {
		--space-min : 15px;
		--container-width: 1440px;
	}
}





body, .body {
	position: relative;
	color: var(--dark);
	font-family: museo-sans-rounded, Arial, sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.375;
	background-color: var(--light);
}


.position-relative { position: relative; }


h1, h2, h3, h4, h5, h6, 
p, small, label {
	margin: 0;
	display: inline;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}


hr {
	border-color: var(--dark);
}


strong, .strong { font-weight: 900; }
em, .em { font-style: italic; }


a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

a * { pointer-events: none; }

/* -- Weights -- */

.w-100 { font-weight: 100; }
.w-300 { font-weight: 300; }
.w-400 { font-weight: 400; }
.w-700 { font-weight: 700; }





/*
 *
 *	Typography
 *
 */

.h1, .h2 {
	font-family: fira-sans, 'Arial Black', Arial, sans-serif;
	line-height: 1.125;
	font-weight: 800;
}

.h1 { font-size: 4.2rem; }
.h2 { font-size: 3.2rem; }
.h3 { font-size: 2.6rem; }
.h4 { font-size: 2.0rem; }
.h5 { font-size: 1.6rem; }
.h6 { font-size: 1.4rem; }
.p 	{ font-size: 1.4rem; }
.label { font-size: 1.1rem; }
.small { font-size: 0.9rem; }

@media( min-width: 640px )  {
	.h1 { font-size: 8.4rem; }
	.h2 { font-size: 6.0rem; }
	.h3 { font-size: 3.6rem; }
	.h4 { font-size: 2.4rem; }
	.h5 { font-size: 1.8rem; }
	.h6 { font-size: 1.4rem; }
	.p 	{ font-size: 1.4rem; }
	.label { font-size: 1.1rem; }
	.small { font-size: 0.9rem; }
}

@media( min-width: 1040px ) {
	.h1 { font-size: 9.6rem; }
	.h2 { font-size: 6.0rem; }
	.h3 { font-size: 3.6rem; }
	.h4 { font-size: 2.4rem; }
	.h5 { font-size: 1.8rem; }
	.h6 { font-size: 1.5rem; }
	.p 	{ font-size: 1.5rem; }
	.label { font-size: 1.2rem; }
	.small { font-size: 1.0rem; }
}

@media( min-width: 1480px ) {
	.h1 { font-size: 12.0rem; }
	.h2 { font-size: 8.4rem;  }
	.h3 { font-size: 4.8rem;  }
	.h4 { font-size: 3.2rem;  }
	.h5 { font-size: 2.4rem;  }
	.h6 { font-size: 1.7rem;  }
	.p 	{ font-size: 1.7rem;  }
	.label { font-size: 1.4rem; }
	.small { font-size: 1.2rem; }
}





/*
 *
 *	Buttons
 *
 */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	height: var(--space-75);
	padding: 0 calc(var(--space-75)/2);
	font-size: 1.2rem;
	line-height: var(--space-75);
	color: var(--light);
	background-color: var(--dark);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: calc(var(--space-min)/2);
	filter: brightness(1);
	-webkit-transition: filter 0.2s;
	-moz-transition: filter 0.2s;
	transition: filter 0.2s;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	filter: brightness(1.2);
}

input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus,
.button:focus {
    outline: 0;
    box-shadow: 0px 2px 6px rgba(20,20,10,0.5);
}

.button img {
	pointer-events: none;
	width: 16px;
	display: inline-block;
	margin-bottom: -4px;
	margin-left: 3px;
}

.button-large img {
	pointer-events: none;
	width: 24px;
	display: inline-block;
	margin-bottom: -6px;
	margin-right: 10px;
	margin-left: -5px;
}

.button-large {
	height: calc( var(--space-75)*1.5 - 10 );
	padding: 0 calc( (var(--space-75)*1.5 - 10px )/2 );
	font-size: 1.4rem;
	line-height: calc( var(--space-75)*1.5 - 10px );
	border-radius: 0;
}

@media( min-width: 640px )  {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: var(--space-75);
		padding: 0 calc(var(--space-75)/2);
		font-size: 1.2rem;
		line-height: var(--space-75);
	}

	.button-large {
		height: calc( var(--space-75)*1.5 );
		padding: 0 calc( (var(--space-75)*1.5)/2 );
		font-size: 1.6rem;
		line-height: calc( var(--space-75)*1.5 );
	}
}
@media( min-width: 1040px ) {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: var(--space-50);
		padding: 0 calc(var(--space-50)/2);
		font-size: 1.3rem;
		line-height: var(--space-50);
	}

	.button-large {
		height: var(--space-75);
		padding: 0 calc(var(--space-75)/2);
		font-size: 1.6rem;
		line-height: var(--space-75);
	}

	.button-large img {
		pointer-events: none;
		width: 32px;
		display: inline-block;
		margin-bottom: -9px;
		margin-right: 12px;
		margin-left: -6px;
	}
}
@media( min-width: 1480px ) {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		padding: 0 calc(var(--space-50)/2);
		height: var(--space-50);
		font-size: 1.6rem; 
		line-height: var(--space-50);
	}

	.button-large {
		padding: 0 calc(var(--space-75)/2);
		height: var(--space-75);
		font-size: 2.4rem;
		line-height: var(--space-75);
	}

	.button-large img {
		pointer-events: none;
		width: 48px;
		display: inline-block;
		margin-bottom: -14px;
		margin-right: 20px;
		margin-left: -10px;
	}
}





/*
 *
 *	Forms
 *
 */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
	height: var(--space-75);
	padding: 11px calc(var(--space-75)/2); /* This vertically centers text on FF, ignored by Webkit */
	font-size: 1.4rem;
	color: var(--dark);
	background-color: var(--light);
	border: solid 1px var(--neutral-1);
	border-radius: calc(var(--space-min)/2);
	/*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);*/
}

textarea {
	min-height: var(--space-200);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
	outline: 0;
	border-color: var(--green-2);
	/*box-shadow: 0px 2px 6px rgba(20,20,10,0.5);*/
}

select { cursor: pointer; }

.form-row:focus-within span.label {
	color: var(--green-2);
}

.input-large.input-large {
	height: calc( var(--space-75)*1.5 - 10 );
	padding: 0 calc( (var(--space-75)*1.5 - 10px )/2 );
	font-size: 1.4rem;
	line-height: calc( var(--space-75)*1.5 - 10px );
	border-radius: 0;
}

@media( min-width: 640px )  {
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-75);
		padding: 11px calc(var(--space-75)/2); /* This vertically centers text on FF, ignored by Webkit */
		font-size: 1.4rem;
	}

	.input-large.input-large {
		height: calc( var(--space-75)*1.5 );
		padding: 0 calc( (var(--space-75)*1.5)/2 );
		font-size: 1.6rem;
		line-height: calc( var(--space-75)*1.5 );
		border-radius: 0;
	}
}
@media( min-width: 1040px ) {
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-50);
		padding: 11px calc(var(--space-50)/2); /* This vertically centers text on FF, ignored by Webkit */
		font-size: 1.5rem;
	}

	.input-large.input-large {
		height: var(--space-75);
		padding: 0 calc(var(--space-75)/2);
		font-size: 1.6rem;
		line-height: var(--space-75);
		border-radius: 0;
	}
}
@media( min-width: 1480px ) {
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-50);
		padding: 11px calc(var(--space-50)/2); /* This vertically centers text on FF, ignored by Webkit */
		font-size: 1.8rem;
		border: solid 2px var(--neutral-1);
	}

	.input-large.input-large {
		padding: 0 calc(var(--space-75)/2);
		height: var(--space-75);
		font-size: 2.4rem;
		line-height: var(--space-75);
		border-radius: 0;
	}
}





/*
 *
 *	Fills
 *
 */

.fill-light {
	color: var(--dark);
	background-color: var(--light); }
.fill-neutral-1 {
	color: var(--dark);
	background-color: var(--neutral-1); }
.fill-neutral-2 {
	color: var(--dark);
	background-color: var(--neutral-2); }
.fill-neutral-3 {
	color: var(--dark);
	background-color: var(--neutral-3); }
.fill-neutral-4 {
	color: var(--dark);
	background-color: var(--neutral-4); }
.fill-neutral-5 {
	color: var(--light);
	background-color: var(--neutral-5); }
.fill-dark {
	color: var(--light);
	background-color: var(--dark); }
.fill-black {
	color: var(--light);
	background-color: var(--black); }
.fill-red {
	color: var(--light);
	background-color: var(--red); }
.fill-orange {
	color: var(--light);
	background-color: var(--orange); }
.fill-yellow {
	color: var(--dark);
	background-color: var(--yellow); }
.fill-green-1 {
	color: var(--dark);
	background-color: var(--green-1); }
.fill-green-2 {
	color: var(--light);
	background-color: var(--green-2); }
.fill-green-3 {
	color: var(--light);
	background-color: var(--green-3); }
.fill-green-4 {
	color: var(--light);
	background-color: var(--green-4); }





/*
 *
 *	Text Color
 *
 */

 .text-light {
 	color: var(--light); }
 .text-neutral-1 {
 	color: var(--neutral-1); }
 .text-neutral-2 {
 	color: var(--neutral-2); }
 .text-neutral-3 {
 	color: var(--neutral-3); }
 .text-neutral-4 {
 	color: var(--neutral-4); }
 .text-neutral-5 {
 	color: var(--neutral-5); }
 .text-dark {
 	color: var(--dark); }
 .text-black {
 	color: var(--black); }
 .text-red {
 	color: var(--red); }
 .text-orange {
 	color: var(--orange); }
 .text-yellow {
 	color: var(--yellow); }
 .text-green-1 {
 	color: var(--green-1); }
 .text-green-2 {
 	color: var(--green-2); }
 .text-green-3 {
 	color: var(--green-3); }
 .text-green-4 {
 	color: var(--green-4); }





/*
 *
 *	Vertical Spacing
 *
 */

.space-min { padding: var(--space-min); }
.space-min-top { padding-top: var(--space-min); }
.space-min-bottom { padding-bottom: var(--space-min); }
.space-min-left { padding-left: var(--space-min); }
.space-min-right { padding-right: var(--space-min); }
.space-min-top-bottom { padding-top: var(--space-min); padding-bottom: var(--space-min); }
.space-min-left-right { padding-left: var(--space-three-min); padding-right: var(--space-three-min); }

.space-100 { padding: var(--space-100); }
.space-100-top { padding-top: var(--space-100); }
.space-100-bottom { padding-bottom: var(--space-100); }
.space-100-left { padding-left: var(--space-100); }
.space-100-right { padding-right: var(--space-100); }
.space-100-top-bottom { padding-top: var(--space-100); padding-bottom: var(--space-100); }
.space-100-left-right { padding-left: var(--space-three-one); padding-right: var(--space-three-one); }

.space-50 { padding: var(--space-50); }
.space-50-top { padding-top: var(--space-50); }
.space-50-bottom { padding-bottom: var(--space-50); }
.space-50-left { padding-left: var(--space-50); }
.space-50-right { padding-right: var(--space-50); }
.space-50-top-bottom { padding-top: var(--space-50); padding-bottom: var(--space-50); }
.space-50-left-right { padding-left: var(--space-50); padding-right: var(--space-50); }

.space-25 { padding: var(--space-25); }
.space-25-top { padding-top: var(--space-25); }
.space-25-bottom { padding-bottom: var(--space-25); }
.space-25-left { padding-left: var(--space-25); }
.space-25-right { padding-right: var(--space-25); }
.space-25-top-bottom { padding-top: var(--space-25); padding-bottom: var(--space-25); }
.space-25-left-right { padding-left: var(--space-25); padding-right: var(--space-25); }

.space-75-top { padding: var(--space-75); }
.space-75-top { padding-top: var(--space-75); }
.space-75-bottom { padding-bottom: var(--space-75); }
.space-75-left { padding-left: var(--space-75); }
.space-75-right { padding-right: var(--space-75); }
.space-75-top-bottom { padding-top: var(--space-75); padding-bottom: var(--space-75); }
.space-75-left-right { padding-left: var(--space-75); padding-right: var(--space-75); }

.space-150 { padding: var(--space-150); }
.space-150-top { padding-top: var(--space-150); }
.space-150-bottom { padding-bottom: var(--space-150); }
.space-150-left { padding-left: var(--space-150); }
.space-150-right { padding-right: var(--space-150); }
.space-150-top-bottom { padding-top: var(--space-150); padding-bottom: var(--space-150); }
.space-150-left-right { padding-left: var(--space-150); padding-right: var(--space-150); }

.space-200 { padding: var(--space-200); }
.space-200-top { padding-top: var(--space-200); }
.space-200-bottom { padding-bottom: var(--space-200); }
.space-200-left { padding-left: var(--space-200); }
.space-200-right { padding-right: var(--space-200); }
.space-200-top-bottom { padding-top: var(--space-200); padding-bottom: var(--space-200); }
.space-200-left-right { padding-left: var(--space-200); padding-right: var(--space-200); }





/*
 * Opacity
 */

.opacity-0 { opacity: 0; }
.opacity-50 { opacity: 0.5; }
.opacity-100 { opacity: 1; }





/*
 *
 *	Text Auto Align
 *
 */

/*.text-auto-align-medium { text-align: center; }
@media( min-width: 640px ) { .text-auto-align-medium { text-align: inherit; } }*/

/*.text-auto-align-large { text-align: center; }
@media( min-width: 1040px ) { .text-auto-align-large { text-align: inherit; } }*/





/*
 *
 *	Image Background
 *
 */

.image-bg {
	min-height: 200px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}





/*
 *
 *	Carousel List
 *
 */

.carousel {}
.carousel .carousel-list {
	position: relative;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	padding: 0 calc( (100vw - var(--container-width))/2 ) var(--space-50);
	scroll-snap-type: x mandatory;
}
.carousel .carousel-list .carousel-list-item {
	display: inline-block;
	position: relative;
	white-space: normal;
	width: calc( 5 * var(--space-100) );
	scroll-snap-align: center;
}

/* -- Base -- */
.carousel .carousel-controls {
	pointer-events: none;
}

.carousel .carousel-controls .prev,
.carousel .carousel-controls .next {
	pointer-events: all;
}





/* H0 */
.h0 {
	font-size: 6.3rem;
	font-weight: 900;
	text-shadow: 0px 2px 3px rgba(0,0,0,0.125), 0px 2px 8px rgba(0,0,0,0.25);
	line-height: .95;
}

@media( min-width: 640px )  {
	.h0 { font-size: 12.6rem; }
}

@media( min-width: 1040px ) {
	.h0 { 
		font-size: 14.4rem; 
		text-shadow: 0px 4px 5px rgba(0,0,0,0.125), 0px 2px 15px rgba(0,0,0,0.25);
	}
}

@media( min-width: 1480px ) {
	.h0 { font-size: 18.0rem; }
}
