
# the .DS_Store files everywhere
.DS_Store

# the configuration file
/conf.php
/conf.development.php
/conf.staging.php
/conf.wip.php
/conf.production.php

# the data directory
/data

# the content directory
/content

# the cms directory
# /cms

# Weird Networked Drive Artifact
.smb*
