
# Disable redirects with trailing slashes when URLs match the directory paths
# DirectorySlash Off




<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [NC,QSA,L]

</IfModule>
