
# Disable redirects with trailing slashes when URLs match the directory paths
# DirectorySlash Off




<IfModule mod_rewrite.c>

RewriteEngine On

# If the content assets is not present locally, fetch it from "the remote server"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?(content/.*) server/forward-to-remote-server.php [NC,QSA,L]

# Certain *static* pages (in the content folder) need to first be augmented with some code
RewriteRule ^/?(content/media/.+/.+/index.htm) pages/augment-static-page.php?path=$1&with=no-right-click [NC,QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [NC,QSA,L]

</IfModule>
