/*
 * Booking Section
 */

.booking-section {}





/* -- Workplace -- */
.booking-section .workplaces .workplace:first-child {
	margin-bottom: var(--space-25);
}

.booking-section .workplaces .workplace .image {
	background-color: var(--neutral-1);
	display: inline-block;
	vertical-align: middle;
	height: var(--space-150);
	width: var(--space-150);
	border-radius: var(--space-min);
}
	
.booking-section .workplaces .workplace .info {
	display: inline-block;
	vertical-align: middle;
	padding-left: var(--space-25);
	width: calc( ( var(--space-100) * 3 ) );
	height: auto;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.booking-section .workplaces .workplace .image {
		height: var(--space-100);
		width: var(--space-100);
	}
}




/* -- Pricing -- */

.booking-section .pricing {
}

.booking-section .pricing .pricing-list {
	position: relative;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	padding: 0 calc( (100vw - var(--container-width))/2 ) var(--space-50);
	scroll-snap-type: x mandatory;
	font-size: 0;
}

.booking-section .pricing .pricing-list .price {
	display: inline-block;
	position: relative;
	white-space: normal;
	width: calc( 6 * var(--space-100) );
	scroll-snap-align: center;
	font-size: 1.4rem;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border: solid 1px var(--neutral-1);
	border-top-width: 2px;
	border-bottom-width: 2px;
}

.booking-section .pricing .pricing-list .price:first-child {
	border-top-left-radius: var(--space-min);
	border-bottom-left-radius: var(--space-min);
	border-left-width: 2px;
}
.booking-section .pricing .pricing-list .price:last-child {
	border-top-right-radius: var(--space-min);
	border-bottom-right-radius: var(--space-min);
	border-right-width: 2px;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.booking-section .pricing .pricing-list .price {
		width: calc( 4 * var(--space-100) );
	}
}
@media( min-width: 1480px ) {
	.booking-section .pricing .pricing-list .price {
		width: calc( 3 * var(--space-100) );
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
	}
}







/* -- Checkin -- */
.booking-section .checkin {}

.booking-section .checkin .icon {
	width: 32px;
	margin-right: 5px;
}

@media( min-width: 640px )  {
	.booking-section .checkin .icon {
		width: 40px;
		margin-right: 5px;
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {
	.booking-section .checkin .icon {
		width: 48px;
		margin-right: 10px;
	}
}







/* -- Contact -- */
.booking-section .contact .form-row {
	padding-bottom: var(--space-min);
}

@media( min-width: 640px )  {
	.booking-section .contact .form-row:nth-child(2n) {
		padding-left: var(--space-25);
	}
	.booking-section .contact .form-row:nth-child(2n+1) {
		padding-right: var(--space-25);
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}