/*
 * Booking Section
 */

.booking-section {}

@media( max-width: 639px )  {
	.booking-section .intro select.minimal {
		margin-top: 10px;
	}
}

@media( min-width: 640px )  {
	.booking-section .intro select.minimal {
		margin-left: 5px;
	}
}
@media( min-width: 1040px ) {
	.booking-section .intro select.minimal {
		margin-left: 10px;
	}
}



/* -- Workplace -- */
.booking-section .workplaces .workplace:first-child {
	margin-bottom: var(--space-25);
}

.booking-section .workplaces .workplace .image {
	background-color: var(--neutral-1);
	display: inline-block;
	vertical-align: middle;
	height: var(--space-150);
	width: var(--space-150);
	border-radius: var(--space-min);
}

.booking-section .workplaces .workplace .info {
	display: inline-block;
	vertical-align: middle;
	padding-left: var(--space-25);
	width: calc( ( var(--space-100) * 3 ) );
	height: auto;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.booking-section .workplaces .workplace .image {
		height: var(--space-100);
		width: var(--space-100);
	}
}

/*
 * Scroll Controls
 */

.booking-section .workplaces .scroll-controls {
	top: var(--space-150);
}
@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.booking-section .workplaces .scroll-controls {
		transform: translateY(-25%);
	}
}
@media( min-width: 1480px ) {}




/* -- Pricing -- */

.booking-section .pricing {
	position: relative;
}

.booking-section .pricing .pricing-list {
	position: relative;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: visible;
	-webkit-overflow-scrolling: touch;
	padding: 0 calc( (100vw - var(--container-width))/2 ) var(--space-50);
	scroll-snap-type: x mandatory;
	font-size: 0;
}

.booking-section .pricing .pricing-list .price {
	display: inline-block;
	vertical-align: top;
	position: relative;
	white-space: normal;
	width: calc( 6 * var(--space-100) );
	scroll-snap-align: center;
	font-size: 1.4rem;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-top: 110px;
	box-shadow: 0px 0px 0px 2px var(--neutral-1);
}

.booking-section .pricing .pricing-list .price:first-child {
	border-top-left-radius: var(--space-min);
	border-bottom-left-radius: var(--space-min);
}
.booking-section .pricing .pricing-list .price:last-child {
	border-top-right-radius: var(--space-min);
	border-bottom-right-radius: var(--space-min);
}

.booking-section .pricing .pricing-list .price .character {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	padding: 0 20px;
	transform: translateY(-130px);
}

.booking-section .pricing .pricing-list .price .title {
	text-shadow: 0px 1px 2px rgba(0,0,0,0.125), 0px 2px 5px rgba(0,0,0,0.25);
	position: relative;
	z-index: 2;
	padding: 10px 0;
}
.booking-section .pricing .pricing-list .price .thumbnail {
	position: relative;
	z-index: 2;
	border-radius: var(--space-min);
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	background-color: var(--green-1);
}
.booking-section .pricing .pricing-list .price .thumbnail img {
	filter: grayscale(0.5) brightness(1.25) blur(0px);
	transition: filter .3s;
}

.booking-section .pricing .pricing-list .price .config {
	line-height: 1;
}

.booking-section .pricing .pricing-list .price .config .flex {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 15px;
}

.booking-section .pricing .pricing-list .price .config .included img {
	margin-top: -2px;
}

.booking-section .pricing .pricing-list .price .action .action-title-error,
.booking-section .pricing .pricing-list .price .action .action-sub-title-error {
	display: none;
}

.booking-section .pricing .pricing-list .price.invalid {}
.booking-section .pricing .pricing-list .price.invalid .thumbnail img {
	filter: grayscale(0.5) brightness(1.25) blur(20px);
}

.booking-section .pricing .pricing-list .price.invalid .action .action-title,
.booking-section .pricing .pricing-list .price.invalid .action .action-sub-title {
	display: none;
}

.booking-section .pricing .pricing-list .price.invalid .action .action-title-error,
.booking-section .pricing .pricing-list .price.invalid .action .action-sub-title-error {
	display: block;
}

@media( min-width: 640px )  {
	.booking-section .pricing .pricing-list .price {
		margin-top: 90px
	}
	.booking-section .pricing .pricing-list .price .character {
		transform: translateY(-110px);
	}

	.booking-section .pricing .pricing-list .price .title {
		padding: 20px 0 10px;
	}
}
@media( min-width: 1040px ) {
	.booking-section .pricing .pricing-list .price {
		width: calc( 4 * var(--space-100) );
		margin-top: 110px
	}
	.booking-section .pricing .pricing-list .price .character {
		transform: translateY(-130px);
	}

	.booking-section .pricing .pricing-list .price .config .flex {
		padding-bottom: 10px;
	}

	.booking-section .pricing .pricing-list .price .config .included {
		padding-top: var(--space-min);
	}
}
@media( min-width: 1480px ) {

	/* -- vvv Delete This Upon Adding the 4th Price Column -- */
	.booking-section .pricing { padding-left: var(--space-100); }
	/* -- ^^^ -- */

	.booking-section .pricing .pricing-list .price {
		width: calc( 3 * var(--space-100) );
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		margin-top: 110px;
	}
	.booking-section .pricing .pricing-list .price .character {
		transform: translateY(-130px);
	}

	.booking-section .pricing .pricing-list .price .config .included img {
		width: 16px;
		margin-top: -2px;
	}
}


/*
 * Scroll Controls
 */

.booking-section .pricing .scroll-controls {
	top: 280px;
}
@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.booking-section .pricing .scroll-controls {
		display: none;
		top: 320px;
	}
}
@media( min-width: 1480px ) {
	.booking-section .pricing .scroll-controls {
		top: 340px;
	}
}


/* -- Icon Lamp -- */
.booking-section .pricing .icon-lamp {
	width: 42px;
	position: absolute;
	z-index: 2;
	bottom: -64px;
	right: calc((100vw - var(--container-width) ) / 2);
}
.booking-section .pricing .icon-lamp svg {
	width: 100%;
	height: auto;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.booking-section .pricing .icon-lamp {
		width: 50px;
	}
}
@media( min-width: 1480px ) {
	.booking-section .pricing .icon-lamp {
		width: 60px;
		margin-right: 240px; /* delete when 4th pricing item has been added */
	}
}





/* -- Checkin -- */
.booking-section .checkin {}

.booking-section .checkin .icon {
	width: 32px;
	margin-right: 5px;
}

@media( min-width: 640px )  {
	.booking-section .checkin .icon {
		width: 40px;
		margin-right: 5px;
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {
	.booking-section .checkin .icon {
		width: 48px;
		margin-right: 10px;
	}
}






